.roll,
.dog{
  background: #9eebcf;
  font-size: 200px;
  font-family: Helvetica;
  display: inline-block;
  align-items: center;
  transition: all 3s ease-out;
    }
.roll:hover{
  transform: rotate(180deg);
}
.dog:hover{
  transform: scale(2);
}
